<div class="content-page">
    <div class="content">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Manage Warehouse Receipt</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <div class="text-sm-right">
                                    <form>
                                        <label for="search">Search: </label>
                                        <input type="search" style="max-width: 300px;" class="form-control d-inline-block" name="search" placeholder="Search by 4 last character of id..." maxlength="4"
                                               value="<%= data.search %>">
                                    </form>
                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                                <thead class="thead-light">
                                <tr>
                                    <th class="all">#</th>
                                    <th class="all">Receipt id</th>
                                    <th class="all">Importer</th>
                                    <th>Created at</th>
                                    <th style="width: 150px;">Action</th>
                                </tr>
                                </thead>
                                <tbody id="items-show"></tbody>
                            </table>
                        </div>

                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-sm-12" id="pagination"></div>
                        </div>
                        <!-- End Pagination -->
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- End Content -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    © krulzilla
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
</div> <!-- content-page -->

<!-- Modal view -->
<div id="modal-view" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">View Receipt</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body"> </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div><!-- end modal view -->

<!-- Modal delete -->
<div id="modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Delete Receipt</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h5>Are you sure to delete this receipt ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-warning">Continue</button>
            </div>
        </div>
    </div>
</div><!-- end modal delete -->

<%- contentFor('js') %>
<script src="/public/assets/js/custom.js"></script>
<script>
(function () {
    let page = 1, pageSize = 10, search = "", target;     // Params for url query

    $(document).ready(function (e) {
        // Get filter values
        const urlQuery = window.location.search.replace("?", "");
        const queryParams = urlQuery.split("&");

        queryParams.forEach(param => {
            // example param: page=1 || pageSize=4
            const ele = param.split("=");
            if (ele[0] == "page") page = +ele[1];
            if (ele[0] == "search") search = ele[1];
        })

        // Get data & render items
        $.ajax({
            url: "/api/warehouse/pagination" + buildQueryUrl(page, pageSize, search),
            method: "get",
            success: function (response) {
                if (!response.status || response.data[0].pagination.length == 0) return;

                // Handle data into html.
                let index = (page - 1) * pageSize;
                const items = response.data[0].data;
                const totalRow = response.data[0].pagination[0].totalRow;   // Total row of this filter (price + category + search)
                if (items.length > 0) {
                    let itemsHtml = ``;
                    items.forEach(item => {
                        const date = new Date(item.createdAt);
                        const dateFormatted = `${date.toLocaleString("default", {month: "short"})} ${date.getDate()}, ${date.getFullYear()}`;

                        itemsHtml += `
                        <tr id="${item._id}">
                            <td>
                                <b>${++index}</b>
                            </td>
                            <td>
                                ${item._id}
                            </td>
                            <td>
                                ${item.importer[0].fullname}
                            </td>
                            <td>
                                ${dateFormatted}
                            </td>

                            <td class="table-action">
                                <a href="javascript:void(0);" class="action-icon btn-view"> <i
                                        class="mdi mdi-eye"></i></a>
                                <a href="javascript:void(0);" class="action-icon btn-delete"> <i
                                        class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>`;
                    })

                    $("#items-show").html(itemsHtml);
                    renderPagination("#pagination", totalRow / pageSize, page, buildQueryUrl(page, pageSize, search));
                }
            },
            error: function (err) {

            }
        })
    })

    // Action: view
    $(document).on("click", ".btn-view", function (e) {
        target = $(this).parent().parent().attr("id");

        $.ajax({
            url: `/api/warehouse/get-details/${target}`,
            method: "get",
            success: (response) => {
                if (response.status) {
                    let renderDetails = "";
                    const details = response.data[0];

                    // handle date-time
                    const dateRaw = new Date(details.createdAt);
                    const date = `${dateRaw.toLocaleString("default", {month: "short"})} ${dateRaw.getDate()}, ${dateRaw.getFullYear()}`;
                    const time = `${dateRaw.getUTCHours()}:${dateRaw.getUTCMinutes()}`;

                    renderDetails += `
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Receipt ID:</h5>
                        </div>
                        <div class="col-md-8">
                            <h5>${details._id}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Imported by:</h5>
                        </div>
                        <div class="col-md-8">
                            <h5>${details.importer.fullname}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Created at:</h5>
                        </div>
                        <div class="col-md-8">
                            <h5>${date} <small class="text-muted">${time}</small></h5>
                        </div>
                    </div>
                    <hr>
                    <ul class="list-unstyled">
                    `;
                    details.receiptDetails.forEach((item, index) => {
                        if (index !== 0) renderDetails += "<hr>";
                        renderDetails += `
                    <li>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="${item.product.image}" alt="product-image-alt" class="card-img">
                            </div>
                            <div class="col-md-6">
                                <h5>${item.product.name}</h5>
                            </div>
                            <div class="col-md-3">
                                <h5>x${item.amount}</h5>
                            </div>
                        </div>
                    </li>
                    `;
                    })
                    renderDetails += `</ul>`;

                    $("#modal-view").find(".modal-body").html(renderDetails);
                    $('[data-toggle="tooltip"]').tooltip();
                    $("#modal-view").modal("show");
                }
            }
        })
    })

    // Action: delete
    $(document).on("click", ".btn-delete", function (e) {
        target = $(this).parent().parent().attr("id");
        $("#modal-delete").modal("show");
    })

    $("#modal-delete button[type='submit']").click(function (e) {
        $.ajax({
            url: `/api/warehouse/${target}`,
            method: "delete",
            success: (response) => {
                if (response.status) window.location = "";
            },
            error: (err) => {
                return $.NotificationApp.send("Error", `${err.responseJSON.msg}`, "top-right", "rgba(0,0,0,0.2)", "error");
            }
        })
    })

    // Build query url
    function buildQueryUrl(page, pageSize, search = "") {
        return `?page=${page}&pageSize=${pageSize}${search ? `&search=${search}` : ""}`;
    }
})()
</script>