<div class="content-page">
    <div class="content">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Manage Author</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="javascript:void(0);" class="btn btn-primary mb-2" id="btn-add"><i
                                        class="mdi mdi-plus-circle mr-2"></i> Add Author</a>
                            </div>
                            <div class="col-sm-8">
                                <div class="text-sm-right">
                                    <form>
                                        <label for="search">Search: </label>
                                        <input type="search" style="max-width: 250px;" class="form-control d-inline-block" name="search" placeholder="Search..."
                                               value="<%= data.search %>">
                                    </form>
                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table table-centered w-100 dt-responsive nowrap" id="products-datatable">
                                <thead class="thead-light">
                                <tr>
                                    <th class="all" style="width: 20px;">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                                        </div>
                                    </th>
                                    <th class="all">Author</th>
                                    <th>Created at</th>
                                    <th style="width: 150px;">Action</th>
                                </tr>
                                </thead>
                                <tbody id="items-show"></tbody>
                            </table>
                        </div>

                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-sm-12" id="pagination"></div>
                        </div>
                        <!-- End Pagination -->
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row -->

    </div> <!-- End Content -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    2018 - 2020 © Hyper - Coderthemes.com
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-md-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
</div> <!-- content-page -->

<!-- Modal add -->
<div id="modal-add" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Add Author</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="add-name">Name</label>
                        <input type="text" class="form-control" id="add-name" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="add-description">Description</label>
                        <textarea class="form-control" id="add-description" rows="3" placeholder="Enter description"></textarea>
                    </div>
                    <p class="invalid-feedback font-14" id="add-error"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div><!-- end modal add -->

<!-- Modal view -->
<div id="modal-view" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">View Author</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="view-name">Name</label>
                        <input type="text" class="form-control" id="view-name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="view-description">Description</label>
                        <textarea class="form-control" id="view-description" rows="3" readonly></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div><!-- end modal add -->

<!-- Modal edit -->
<div id="modal-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Edit Autor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="edit-name">Name</label>
                        <input type="text" class="form-control" id="edit-name">
                    </div>
                    <div class="form-group">
                        <label for="edit-description">Description</label>
                        <textarea class="form-control" id="edit-description" rows="3"></textarea>
                    </div>
                    <p class="invalid-feedback font-14" id="edit-error"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-warning">Update</button>
            </div>
        </div>
    </div>
</div><!-- end modal add -->

<!-- Modal delete -->
<div id="modal-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Delete Author</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h5>Are you sure to delete this author ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-warning">Continue</button>
            </div>
        </div>
    </div>
</div><!-- end modal add -->

<%- contentFor('js') %>
<script src="/public/assets/js/custom.js"></script>
<script>
(function () {
    let page = 1, pageSize = 10, search = "", target;     // Params for url query

    $(document).ready(function (e) {
        // Get filter values
        const urlQuery = window.location.search.replace("?", "");
        const queryParams = urlQuery.split("&");

        queryParams.forEach(param => {
            // example param: page=1 || pageSize=4
            const ele = param.split("=");
            if (ele[0] == "page") page = +ele[1];
            if (ele[0] == "search") search = ele[1];
        })

        // Get data & render items
        $.ajax({
            url: "/api/author/pagination" + buildQueryUrl(page, pageSize, search),
            method: "get",
            success: function (response) {
                if (!response.status || response.data[0].pagination.length == 0) return;

                // Handle data into html.
                const items = response.data[0].data;
                const totalRow = response.data[0].pagination[0].totalRow;   // Total row of this filter (price + category + search)
                if (items.length > 0) {
                    let itemsHtml = ``;
                    items.forEach(item => {
                        const date = new Date(item.createdAt);
                        const dateFormatted = `${date.toLocaleString("default", {month: "short"})} ${date.getDate()}, ${date.getFullYear()}`;

                        itemsHtml += `
                        <tr id="${item._id}">
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                </div>
                            </td>
                            <td>
                                ${item.name}
                            </td>
                            <td>
                                ${dateFormatted}
                            </td>

                            <td class="table-action">
                                <a href="javascript:void(0);" class="action-icon btn-view"> <i
                                        class="mdi mdi-eye"></i></a>
                                <a href="javascript:void(0);" class="action-icon btn-edit"> <i
                                        class="mdi mdi-square-edit-outline"></i></a>
                                <a href="javascript:void(0);" class="action-icon btn-delete"> <i
                                        class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>`;
                    })

                    $("#items-show").html(itemsHtml);
                    renderPagination("#pagination", totalRow / pageSize, page, buildQueryUrl(page, pageSize, search));
                }
            },
            error: function (err) {

            }
        })
    })

    // Action: create
    $("#btn-add").click(function (e) {
        $("#modal-add").modal("show");
    })

    $("#modal-add button[type='submit']").click(function (e) {
        const name = $("#add-name").val();
        const description = $("#add-description").val();
        const errorFeedback = $("#add-error");

        if (!name) return errorFeedback.text("Name cannot be null!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        $.ajax({
            url: "/api/author",
            method: "post",
            data: {
                name,
                description
            },
            success: (response) => {
                if (response.status) window.location = "";
            },
            error: (err) => {
                return errorFeedback.text(err.responseJSON.msg).addClass("d-block");
            }
        })
    })

    // Action: view
    $(document).on("click", ".btn-view", function (e) {
        target = $(this).parent().parent().attr("id");

        $.ajax({
            url: `/api/author/${target}`,
            method: "get",
            success: (response) => {
                if (response.status) {
                    $("#view-name").val(response.data.name);
                    $("#view-description").val(response.data.description);
                    $("#modal-view").modal("show");
                }
            }
        })
    })

    // Action: edit
    $(document).on("click", ".btn-edit", function (e) {
        target = $(this).parent().parent().attr("id");

        $.ajax({
            url: `/api/author/${target}`,
            method: "get",
            success: (response) => {
                if (response.status) {
                    $("#edit-name").val(response.data.name);
                    $("#edit-description").val(response.data.description);
                    $("#modal-edit").modal("show");
                }
            }
        })
    })

    $("#modal-edit button[type='submit']").click(function (e) {
        const name = $("#edit-name").val();
        const description = $("#edit-description").val();
        const errorFeedback = $("#edit-error");

        if (!name) return errorFeedback.text("Name cannot be null!").addClass("d-block");
        else errorFeedback.removeClass("d-block");

        $.ajax({
            url: `/api/author/${target}`,
            method: "put",
            data: {
                name,
                description
            },
            success: (response) => {
                if (response.status) window.location = "";
            },
            error: (err) => {
                return errorFeedback.text(err.responseJSON.msg).addClass("d-block");
            }
        })
    })

    // Action: delete
    $(document).on("click", ".btn-delete", function (e) {
        target = $(this).parent().parent().attr("id");
        $("#modal-delete").modal("show");
    })

    $("#modal-delete button[type='submit']").click(function (e) {
        $.ajax({
            url: `/api/author/${target}`,
            method: "delete",
            success: (response) => {
                if (response.status) window.location = "";
            },
            error: (err) => {
                return $.NotificationApp.send("Error", `${err.responseJSON.msg}`, "top-right", "rgba(0,0,0,0.2)", "error");
            }
        })
    })

    // Build query url
    function buildQueryUrl(page, pageSize, search = "") {
        return `?page=${page}&pageSize=${pageSize}${search ? `&search=${search}` : ""}`;
    }
})()
</script>