<!-- Start Content-->
<div class="container-fluid">

    <!-- Begin page -->
    <div class="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="left-side-menu left-side-menu-detached">

            <div class="leftbar-user">
                <a href="javascript: void(0);"></a>
            </div>

            <!--- Sidemenu -->
            <ul class="metismenu side-nav">

                <li class="side-nav-title side-nav-item">
                    <div class="side-nav">
                        <span>Price</span>
                    </div>
                </li>
                <li class="side-nav-item">
                    <div>
                        <div class="custom-control custom-checkbox mx-3 my-3">
                            <input type="checkbox" class="custom-control-input" id="1">
                            <label class="custom-control-label" for="">100.000 d</label>
                        </div>
                    </div>
                </li>

                <li class="side-nav-title side-nav-item">
                    <div class="side-nav">
                        <span>Category</span>
                    </div>
                </li>
                <li class="side-nav-item">
                    <div>
                        <% data.category.forEach(ele => { %>
                            <div class="custom-control custom-checkbox mx-3 my-3">
                                <input type="checkbox" class="custom-control-input" id="<%= ele._id %>">
                                <label class="custom-control-label" for="<%= ele._id %>"><%= ele.name %></label>
                            </div>
                        <% }) %>
                    </div>
                </li>
                <li class="side-nav-item">
                    <hr>
                    <a href="/products" class="side-nav-link">
                        <i class="uil uil-sync"></i>
                        <span> Reset filter </span>
                    </a>
                </li>
            </ul>
            <!-- End Sidebar -->

            <div class="clearfix"></div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">

                <div class="row mb-2 mt-4">
                    <div class="col-sm-12">
                        <div class="text-sm-right">
                            <div class="btn-group mb-3">
                                <button type="button" class="btn btn-primary">All</button>
                            </div>
                            <div class="btn-group mb-3 ml-1">
                                <button type="button" class="btn btn-light">New</button>
                                <button type="button" class="btn btn-light">Hot</button>
                            </div>
                        </div>
                    </div><!-- end col-->
                </div>
                <!-- end row-->

                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <!-- project card -->
                        <div class="card d-block ribbon-box">
                            <div class="ribbon-two ribbon-two-success"><span>Success</span></div>

                            <!-- project-thumbnail -->
                            <img class="card-img-top" src="/public/resources/images/1.jpg"
                                 alt="project image cap">

                            <div class="card-body position-relative">
                                <!-- project title-->
                                <h4 class="mt-0">
                                    <a href="apps-projects-details.html" class="text-title">Flowers, feathers</a>
                                </h4>

                                <!-- project detail-->
                                <p class="mb-2">
                                    <span class="pr-2 text-nowrap">
                                        100.000 đ
                                    </span>
                                </p>
                                <div class="mb-2">
                                    <div class="badge badge-info p-1">Education</div>
                                </div>
                                <div class="mb-3">
                                    <span class="pr-1">by</span>
                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Mat Helme" class="d-inline-block">
                                        <img src="/public/assets/images/users/avatar-3.jpg" class="rounded-circle avatar-xs"
                                             alt="friend">
                                    </a>
                                    <span class="pl-1 text-nowrap">
                                        | in Sep 12, 2021
                                    </span>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->

                    <div class="col-md-6 col-xl-3">
                        <!-- project card -->
                        <div class="card d-block">
                            <!-- project-thumbnail -->
                            <img class="card-img-top" src="/public/assets/images/projects/project-2.jpg"
                                 alt="project image cap">
                            <div class="card-img-overlay">
                                <div class="badge badge-success p-1">Finished</div>
                            </div>

                            <div class="card-body position-relative">
                                <!-- project title-->
                                <h4 class="mt-0">
                                    <a href="apps-projects-details.html" class="text-title">Landing page design -
                                        Home</a>
                                </h4>

                                <!-- project detail-->
                                <p class="mb-3">
                                            <span class="pr-2 text-nowrap">
                                                <i class="mdi mdi-format-list-bulleted-type"></i>
                                                <b>11</b> Tasks
                                            </span>
                                    <span class="text-nowrap">
                                                <i class="mdi mdi-comment-multiple-outline"></i>
                                                <b>254</b> Comments
                                            </span>
                                </p>
                                <div class="mb-3">
                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Mat Helme" class="d-inline-block">
                                        <img src="/public/assets/images/users/avatar-10.jpg" class="rounded-circle avatar-xs"
                                             alt="friend">
                                    </a>

                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Michael Zenaty" class="d-inline-block">
                                        <img src="/public/assets/images/users/avatar-5.jpg" class="rounded-circle avatar-xs"
                                             alt="friend">
                                    </a>

                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="James Anderson" class="d-inline-block">
                                        <img src="/public/assets/images/users/avatar-7.jpg" class="rounded-circle avatar-xs"
                                             alt="friend">
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="d-inline-block text-muted font-weight-bold ml-2">
                                        +2 more
                                    </a>
                                </div>

                                <!-- project progress-->
                                <p class="mb-2 font-weight-bold">Progress <span class="float-right">100%</span></p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 100%;">
                                    </div><!-- /.progress-bar -->
                                </div><!-- /.progress -->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->

                    <div class="col-md-6 col-xl-3">
                        <!-- project card -->
                        <div class="card d-block">
                            <!-- project-thumbnail -->
                            <img class="card-img-top" src="/public/assets/images/projects/project-3.jpg"
                                 alt="project image cap">
                            <div class="card-img-overlay">
                                <div class="badge badge-secondary p-1">Ongoing</div>
                            </div>

                            <div class="card-body position-relative">
                                <!-- project title-->
                                <h4 class="mt-0">
                                    <a href="apps-projects-details.html" class="text-title">Product page redesign</a>
                                </h4>

                                <!-- project detail-->
                                <p class="mb-3">
                                            <span class="pr-2 text-nowrap">
                                                <i class="mdi mdi-format-list-bulleted-type"></i>
                                                <b>21</b> Tasks
                                            </span>
                                    <span class="text-nowrap">
                                                <i class="mdi mdi-comment-multiple-outline"></i>
                                                <b>668</b> Comments
                                            </span>
                                </p>
                                <div class="mb-3">
                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Mat Helme" class="d-inline-block">
                                        <img src="/public/assets/images/users/avatar-6.jpg" class="rounded-circle avatar-xs"
                                             alt="friend">
                                    </a>

                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Michael Zenaty" class="d-inline-block">
                                        <img src="/public/assets/images/users/avatar-7.jpg" class="rounded-circle avatar-xs"
                                             alt="friend">
                                    </a>

                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="James Anderson" class="d-inline-block">
                                        <img src="/public/assets/images/users/avatar-8.jpg" class="rounded-circle avatar-xs"
                                             alt="friend">
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="d-inline-block text-muted font-weight-bold ml-2">
                                        +5 more
                                    </a>
                                </div>

                                <!-- project progress-->
                                <p class="mb-2 font-weight-bold">Progress <span class="float-right">71%</span></p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="71" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 71%;">
                                    </div><!-- /.progress-bar -->
                                </div><!-- /.progress -->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->

                    <div class="col-md-6 col-xl-3">
                        <!-- project card -->
                        <div class="card d-block">
                            <!-- project-thumbnail -->
                            <img class="card-img-top" src="/public/assets/images/projects/project-4.jpg"
                                 alt="project image cap">
                            <div class="card-img-overlay">
                                <div class="badge badge-secondary p-1">Ongoing</div>
                            </div>

                            <div class="card-body position-relative">
                                <!-- project title-->
                                <h4 class="mt-0">
                                    <a href="apps-projects-details.html" class="text-title">Coffee detail page - Main
                                        Page</a>
                                </h4>

                                <!-- project detail-->
                                <p class="mb-3">
                                            <span class="pr-2 text-nowrap">
                                                <i class="mdi mdi-format-list-bulleted-type"></i>
                                                <b>18</b> Tasks
                                            </span>
                                    <span class="text-nowrap">
                                                <i class="mdi mdi-comment-multiple-outline"></i>
                                                <b>259</b> Comments
                                            </span>
                                </p>
                                <div class="mb-3">
                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Mat Helme" class="d-inline-block">
                                        <img src="/public/assets/images/users/avatar-2.jpg" class="rounded-circle avatar-xs"
                                             alt="friend">
                                    </a>

                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="Michael Zenaty" class="d-inline-block">
                                        <img src="/public/assets/images/users/avatar-3.jpg" class="rounded-circle avatar-xs"
                                             alt="friend">
                                    </a>
                                </div>

                                <!-- project progress-->
                                <p class="mb-2 font-weight-bold">Progress <span class="float-right">52%</span></p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="52" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 52%;">
                                    </div><!-- /.progress-bar -->
                                </div><!-- /.progress -->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->

                <div class="row">
                    <div class="col-md-12">
                        <nav class=" text-right">
                            <ul class="pagination pagination-rounded mb-0 justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript: void(0);">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                                <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div> <!-- End Content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            2018 - 2020 © Hyper - Coderthemes.com
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right footer-links d-none d-md-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div> <!-- content-page -->

    </div> <!-- end wrapper-->
</div>
<!-- END Container -->

<%- contentFor('js') %>
<script src="/public/assets/js/pagination.min.js"></script>
<script></script>