<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= data.name %> | K-zilla Bookshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/public/assets/images/favicon.ico">

    <!-- App css -->
    <link href="/public/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="light-style" />

</head>

<body class="loading authentication-bg">

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a href="index.html">
                            <span><img src="/public/assets/images/logo.png" alt="" height="18"></span>
                        </a>
                    </div>

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h1 class="text-primary"><i class="mdi mdi-spin mdi-loading"></i></h1>
<!--                            <img src="/public/assets/images/users/avatar-1.jpg" height="64" alt="user-image" class="rounded-circle shadow">-->
                            <h4 class="text-dark-50 text-center mt-3 font-weight-bold">Please wait! </h4>
                            <p class="text-muted mb-4">We are completing your order ◕‿◕</p>
                        </div>
                    </div> <!-- end card-body-->
                </div>
                <!-- end card-->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
    2018 - 2020 © Hyper - Coderthemes.com
</footer>

<!-- bundle -->
<script src="/public/assets/js/vendor.min.js"></script>
<script src="/public/assets/js/app.min.js"></script>

<script>
(function () {
    let typeTransport, typePayment, idPaypalInvoice;

    $(document).ready(function (e) {
        const query = window.location.search.replace("?", "");
        const params = query.split("&");

        for (let item of params) {
            item = item.split("=");
            const key = item[0];
            const val = item[1];

            if (key === "billing") typePayment = val;
            if (key === "shipping") typeTransport = val;
            if (key === "paypalOrder") idPaypalInvoice = val;
        }

        $.ajax({
            url: "/api/order",
            method: "post",
            data: {
                typeTransport,
                typePayment,
                idPaypalInvoice,
            },
            success: (response) => {
                if (response.status) {
                    return window.location = "/products";
                    // Redirect to manage order when built
                }
            },
            error: (err) => {
                if (!err.responseJSON.status) {
                    $.NotificationApp.send("Error happened!!", err.responseJSON.msg + `<br>Back to cart in 5s`, "top-right", "rgba(0,0,0,0.2)", "error");
                    setTimeout(() => {
                        window.location = "/cart";
                    }, 5000);
                }
            }
        })
    })
})()
</script>

</body>
</html>
