<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" href="/public/assets/css/pagination.css">
    <link rel="stylesheet" href="/public/assets/css/app-modern.css">
</head>
<body>
    <div id="pagination" class="m-5">
        <nav>
            <ul class="pagination pagination-rounded mb-0 justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript: void(0);">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                <li class="page-item active"><a class="page-link" href="javascript: void(0);">3</a></li>
                <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div id="pagination-container"></div>

    <script src="/public/assets/js/vendor.min.js"></script>
    <script>
        const urlQuery = window.location.search.replace("?", "");
        const totalPage = 6;
        const currentPage = +urlQuery.split("=")[1];

        let startPage = currentPage - 1, endPage = currentPage + 1;

        if (currentPage == totalPage) startPage -= 1;

        if (startPage == 0 || startPage == 1) {
            startPage = 2;
            endPage += 1;
        }

        if (endPage >= totalPage) endPage = totalPage - 1;

        let render = `<nav><ul class="pagination pagination-rounded justify-content-center">`;

        render += `<li class="page-item${(currentPage <= 1 || totalPage < 1 || currentPage > totalPage) ? " disabled" : ""}"><a class="page-link" href="?page=${currentPage - 1}">&laquo;</a></li>`;

        if (totalPage > 0) {
            render += `<li class="page-item${currentPage == 1 ? " active" : ""}"><a class="page-link" href="?page=1">1</a></li>`;
        }

        if ((startPage - 1) > 1) render += `<li class="page-item disabled"><a class="page-link">...</a></li>`;

        if (totalPage >= 3) {
            for (let page = startPage; page <= endPage; page++) {
                render += `<li class="page-item${page==currentPage ? ' active' : ''}"><a class="page-link" href="?page=${page}">${page}</a></li>`;
            }
        }

        if ((totalPage - endPage) > 1) render += `<li class="page-item disabled"><a class="page-link">...</a></li>`;

        if (totalPage > 1) {
            render += `<li class="page-item${currentPage == totalPage ? " active" : ""}"><a class="page-link" href="?page=${totalPage}">${totalPage}</a></li>`;
        }

        render += `<li class="page-item${(currentPage >= totalPage || currentPage < 0) ? " disabled" : ""}"><a class="page-link" href="?page=${currentPage + 1}">&raquo;</a></li>`;

        $("#pagination-container").html(render);
    </script>

    <script>
        // const urlQuery = window.location.search.replace("?", "");
        // const totalPage = 5;
        // const currentPage = +urlQuery.split("=")[1];
        //
        // const startPage = totalPage > 0 ? 1 : 0, endPage = totalPage;
        //
        // let render = `<nav><ul class="pagination pagination-rounded justify-content-center">`;
        //
        // render += `<li class="page-item${(currentPage <= 1 || totalPage < 1 || currentPage > totalPage) ? " disabled" : ""}"><a class="page-link" href="?page=${currentPage - 1}">&laquo;</a></li>`;
        //
        // for (let page = startPage; page <= endPage; page++) {
        //     if (totalPage == 0 || currentPage < 1 || currentPage > totalPage) break;
        //
        //     if (currentPage == 1 && totalPage >= 4) {
        //
        //     }
        //     render += `<li class="page-item${page==currentPage ? ' active' : ''}"><a class="page-link" href="?page=${page}">${page}</a></li>`;
        // }
        //
        // render += `<li class="page-item${(currentPage >= totalPage || currentPage < 0) ? " disabled" : ""}"><a class="page-link" href="?page=${currentPage + 1}">&raquo;</a></li>`;
        //
        // $("#pagination-container").html(render);
    </script>
</body>
</html>