<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" href="/public/assets/css/pagination.css">
</head>
<body>
    <div id="demo"></div>

    <script src="/public/assets/js/vendor.min.js"></script>
    <script src="/public/assets/js/pagination.js"></script>
    <script>
        $('#demo').pagination({
            dataSource: '/api/product/pagination',
            locator: 'data',
            totalNumberLocator: function(response) {
                return response.data[0].pagination[0].totalRow;
            },
            pageSize: 2,
            pageNumber: 3,
            ajax: {
                beforeSend: function() {
                    // dataContainer.html('Loading data from flickr.com ...');
                }
            },
            callback: function(data, pagination) {
                // alert(pagination.pageNumber)
            }
        })
    </script>
</body>
</html>