<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu left-side-menu-detached">

    <div class="leftbar-user">
        <a href="javascript: void(0);">
            <img src="/public/assets/images/users/avatar-1.jpg" alt="user-image" height="42" class="rounded-circle shadow-sm">
            <span class="leftbar-user-name"><%= data.user.role %>: <%= data.user.fullname %></span>
        </a>
    </div>

    <!--- Sidemenu -->
    <ul class="metismenu side-nav">

        <li class="side-nav-title side-nav-item">Navigation</li>

        <li class="side-nav-item">
            <a href="/staffcp/profile" class="side-nav-link">
                <i class="mdi mdi-account-circle mr-1"></i>
                <span> My account </span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Manage Order & Warehouse</li>

        <li class="side-nav-item">
            <a href="/staffcp/order" class="side-nav-link">
                <i class="uil-clipboard-alt"></i>
                <span> Order </span>
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/staffcp/import-warehouse" class="side-nav-link">
                <i class="mdi mdi-database-plus"></i>
                <span> Import Warehouse </span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Others</li>

        <li class="side-nav-item">
            <a href="/staffcp/logout" class="side-nav-link">
                <i class="mdi mdi-logout mdi-rotate-180"></i>
                <span> Sign out </span>
            </a>
        </li>
    </ul>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->