<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title><%= `${data.name} | K-zilla Bookshop Admin Control Panel` %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/public/assets/images/favicon.ico">

    <!-- third party css -->
    <link href="/public/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css"/>
    <!-- third party css end -->

    <!-- App css -->
    <link href="/public/assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/assets/css/app-modern.min.css" rel="stylesheet" type="text/css" id="light-style"/>
    <link href="/public/assets/css/app-modern-dark.min.css" rel="stylesheet" type="text/css" id="dark-style"/>

</head>

<body class="loading" data-layout="detached"
      data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true}'>
