<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu left-side-menu-detached">

    <div class="leftbar-user">
        <a href="javascript: void(0);">
            <img src="/public/assets/images/users/avatar-1.jpg" alt="user-image" height="42" class="rounded-circle shadow-sm">
            <span class="leftbar-user-name"><%= data.user.role %>: <%= data.user.fullname %></span>
        </a>
    </div>

    <!--- Sidemenu -->
    <ul class="metismenu side-nav">

        <li class="side-nav-title side-nav-item">Navigation</li>

        <li class="side-nav-item">
            <a href="/admincp" class="side-nav-link">
                <i class="uil-home-alt"></i>
                <span> Dashboards </span>
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/admincp/profile" class="side-nav-link">
                <i class="mdi mdi-account-circle mr-1"></i>
                <span> My account </span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Manage User</li>

        <li class="side-nav-item">
            <a href="apps-chat.html" class="side-nav-link">
                <i class="mdi mdi-account-outline"></i>
                <span> Customer </span>
            </a>
        </li>

        <li class="side-nav-item">
            <a href="apps-chat.html" class="side-nav-link">
                <i class="mdi mdi-account-tie-outline"></i>
                <span> Staff </span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Manage Product</li>

        <li class="side-nav-item">
            <a href="apps-chat.html" class="side-nav-link">
                <i class="uil-box"></i>
                <span> Product </span>
            </a>
        </li>

        <li class="side-nav-item">
            <a href="apps-chat.html" class="side-nav-link">
                <i class="mdi mdi-tag-text"></i>
                <span> Sale </span>
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/admincp/category" class="side-nav-link">
                <i class="uil-window"></i>
                <span> Category </span>
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/admincp/author" class="side-nav-link">
                <i class="dripicons-user-id"></i>
                <span> Author </span>
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/admincp/publisher" class="side-nav-link">
                <i class="uil-building"></i>
                <span> Publisher </span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Manage Order & Receipt</li>

        <li class="side-nav-item">
            <a href="/admincp/order" class="side-nav-link">
                <i class="uil-clipboard-alt"></i>
                <span> Order </span>
            </a>
        </li>

        <li class="side-nav-item">
            <a href="apps-chat.html" class="side-nav-link">
                <i class="uil-clipboard"></i>
                <span> Receipt </span>
            </a>
        </li>

        <li class="side-nav-title side-nav-item">Others</li>

        <li class="side-nav-item">
            <a href="/admincp/type-transport" class="side-nav-link">
                <i class="mdi mdi-truck-fast-outline"></i>
                <span> Type transport </span>
            </a>
        </li>

        <li class="side-nav-item">
            <a href="/admincp/logout" class="side-nav-link">
                <i class="mdi mdi-logout mdi-rotate-180"></i>
                <span> Sign out </span>
            </a>
        </li>
    </ul>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->